body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.phenotypes {
  background-color: #EEEEEE;
  color: #000;
  text-align: center;
  padding: 20px;
  font-size: 1.2em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.phenotypes > .explanation {
  padding-top: 10px;
  font-size: 0.8em;
  color: #555;
}

.normal {
  background-color: #DFF2DF;
}

.warn {
  background-color: #FFF2DF;
}

.alert {
  background-color: #ffe5e5;
  border: solid 1px #ff7a7a;
}