<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FHIR Genomics Viewer</title>

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
      body {
        padding-top: 20px;
        padding-bottom: 20px;
      }

      .navbar {
        margin-bottom: 20px;
      }
    </style>
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SMART on FHIR - Patient Genomics Viewer</a>
        </div>
      </div>
      </nav>
      {% if entry %}
      <table class="table">
        <tr>
          <th>Patient ID</th>
          <th>Name</th>
        </tr>
        {% for resource in entry %}
        <tr>
          <td>{{ resource.id|safe }}</td>
          <td>
          {% if resource.content.text %}
            {{ resource.content.text.div|safe }}
          {% else %}
            N/A
          {% endif %}
          </td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      <div class="jumbotron">
        <h2>No resources found</h2>
      </div>
      {% endif %}
      {% if is_single_resource %}
        <pre><code>{{ code_snippet|safe }}</code></pre>
      {% endif %}
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </body>
</html>

