<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>FHIR Genomics Viewer</title>

    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='main.css') }}">
  </head>

  <body>

    <div class="container">
      <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">SMART on FHIR - Patient Genomics Viewer for {{ patient[0].content.name[0].text }}</a>
        </div>
      </div>
      </nav>
      {% for phenotype in phenotypes %}
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 phenotypes {{phenotype.display_class}}">
          {{ phenotype.text }}
          <div class="explanation">
          {{ phenotype.details }}
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
      {% endfor %}
      
      <div class="row">
        <div class="col-md-6">
          <h2>Current Medications</h2>
          {% if medications %}
            <ul>
            {% for medication in medications %}
              <li>{{ medication.content.text.div|safe }}</li>
            {% endfor %}
          {% else %}
            <b>No active prescriptions</b>
          {% endif %}
        </div>
        
        <div class="col-md-6">
          <h2>Genotype Results</h2>
          {% if observations or sequences %}
            <ul>
            {% for observation in observations %}
              <li>
                {{ observation.content.name.coding[0].display }}: 
                {{ observation.content.valueString }}
              </li>
            {% endfor %}
            {% for sequence in sequences %}
              <li>
                <a href="http://www.snpedia.com/index.php/{{ sequence.content.snp }}">{{ sequence.content.snp }}</a>:
                {{ '/'.join(sequence.content.read) }}
              </li>
            {% endfor %}
            </ul>
          {% else %}
            <b>No genotypes found</b>
          {% endif %}
        </div>
      </div>
    </div>


    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  </body>
</html>

